html {
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(202, 202, 202);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.edit-mode-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10em;
    padding-top: 8em;
    width: 100vw;
    height: 100%;
    padding-bottom: 8em;
}

.forms-display, .edit-entries-display {
    width: 40%;
}

.preview-mode-container {
    width: 50%;
    min-height: 100vh; 
    background-color: white;
    padding-top: 10em;
    padding: 10em;
}

.header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
}

input, textarea {
    border: solid 2px rgb(216, 216, 216);
    border-radius: 1rem;
    padding: 0.5em 1em;
    margin: 0.4em;
}

button {
    cursor: pointer;
    color: white;
    background-color: black;
    border: solid black 1px;
    border-radius: 1rem;
    padding: 0.3em;
}

.general-information-form, .education-form, .experience-form {
    display: flex;
    flex-direction: column;
}

.general-information-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.general-information-preview>p {
    margin: 0.2em;
}

ul, li {
    list-style: none;
}

.education-title, .experience-title {
    margin-bottom: 0;
}

.education-title-date, .experience-title-date {
    display: flex;
    margin-top: 0.5em;
    gap: 1rem;
}

.general-information-display, .education-display, .experience-display {
    margin-left: 1em;
    margin-bottom: 3em;
}

.display-heading {
    margin: 0.4em;
}

.preview-button {
    color: white;
    border: solid white 1px;
    padding: 1em;
}

.preview-button:hover {
    background-color: white;
    color: black;
    border: black;
}

.edit-display-buttons>button, .form-buttons>button {
    margin: 0.5em;
    width: 6em;
}

.edit-display-buttons>button:hover, .form-buttons>button:hover {
    color: black;
    background-color: white;
    border: solid black 1px;
}